html {
  height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
main {
  /* flex: 1; would be enough but IE has different defaults (surprise!) */
  flex: 1 0 auto;
}
